{{#if user}}
<header>
    <div class="container">

        <div class="profile">
            <img src="{{user.avatar}}" alt="Perfil" />
            <p>{{user.nickname}}</p>
        </div>

        <a href="/home" class="logo">
            <img src="/assets/logo.svg" alt="Logo ColaLá" />
        </a>

        <a href="/new-event" class="newEventButton"><i class="fa fa-plus"></i> Criar evento</a>
    </div>
</header>



{{/if}}