<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Colalá</title>
</head>

<body>
    {{>_header}}

    {{#if error}}
    <div class="msg errorMsg">{{error}}</div>
    {{else}}

    {{/if}}
    {{>_msg}}
    {{{body}}}
</body>

</html>