main {
  width: 100%;
  padding-top: 30px;
}
main .container {
  width: 98%;
  max-width: 990px;
  margin: 0 auto;
}

main .container h1 {
  color: #02344e;
  font-size: 1.2rem;
  text-align: center;
}

main .container .events {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

main .container .events .card {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container .events .card {
  max-width: 300px;
  padding: 5px;
  border: 1px solid #cecece;
  border-radius: 8px;
  margin-bottom: 15px;
}

main .container .events .card .header {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .container .events .card .header .profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container .events .card .header .profile img {
  width: 30px;
  height: 30px;
}

main .container .events .card .header .profile span {
  margin-left: 5px;
}

main .container .events .card .header button {
  text-align: center;
  color: #ffffff;
  background-color: #006699;
  padding: 5px;
  border: none;
  border-radius: 8px;
}

main .container .events .card .thumbnail {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

main .container .events .card .thumbnail img {
  width: 100%;
}

main .container .events .card .description {
  width: 100%;
  color: #02344e;
}

main .container .events .card .description h2 {
  margin-bottom: 10px;
}

main .container .events .card .description span {
  margin: 5px 0;
}

main .container .events .card .buttonGroup {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container .events .card .buttonGroup form {
  width: 100%;
}

main .container .events .card .buttonGroup .participate,
main .container .events .card .buttonGroup .share {
  width: 100%;
  padding: 5px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin: 5px auto;
}

main .container .events .card .buttonGroup .participate {
  background-color: #29c542;
}

main .container .events .card .buttonGroup .share {
  background-color: #006699;
}

@media screen and (min-width: 630px) {
  main .container .events .card {
    margin: 10px;
  }
}
