main .container h1 {
  margin-bottom: 0px;
}

main .container p {
  margin: 30px;
  max-width: 30%;
  text-align: center;
}

main .container p.alert {
  background-color: #fff3cd;
  color: #856404;
  border-color: #ffeeba;
  padding: 10px 20px;
}
