@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*
Cores:

Azul: #006699;
Azul-escuro: #02344E;
Cinza-claro: #CECECE;



Resetando espaçamentos 
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/* Padronizando tamanho de tela e outras configs */
html,
body {
  height: 100vh;
  text-rendering: optimizeLegibility;
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialised;
}

header {
  width: 100%;
  height: 80px;
  background-color: #006699;
}

header .container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .container .profile img {
  width: 50px;
  height: 50px;
}

header .container .profile p {
  color: #ffffff;
}

header .container .logo img {
  width: 50px;
  height: 50px;
}

header .container .newEventButton {
  text-decoration: none;
  color: #006699;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 180px;
}

@media screen and (min-width: 1024px) {
  header .container .profile {
    flex-direction: row;
  }
}
