@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* 

Cores:

Azul: #006699;
Azul-escuro: #02344E;
Cinza-claro: #CECECE;

*/

/* Resetando espaçamentos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/* Padronizando tamanho de tela e outras configs */
html,
body {
  height: 100vh;
  text-rendering: optimizeLegibility;
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialised;
}

/* Defininto o tamanho de font padrão (1rem = 10px) */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
  color: #02344e;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  background: #006699;
}

header .container {
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 90%;
  max-width: 1366px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

main h1 {
  margin: 50px auto 50px auto;
}

main .container {
  flex-direction: column;
  align-items: center;
}

main form {
  width: 30%;
  border: 1px solid #02344e;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

main form a {
  margin: 5px auto;
  color: #006699;
}

form label {
  margin: 5px;
  font-size: 2rem;
  color: #02344e;
}

form input,
form textarea {
  font-size: 1.8rem;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: left;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

form textarea {
  resize: vertical;
}

form button {
  color: #ffffff;
  margin-top: 5px;
  font-size: 1.8rem;
  background: #006699;
  border: none;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.msg {
  width: 30%;
  margin: 10px 50%;
  text-align: center;
  position: absolute;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transform: translateX(-50%);
}

.successMsg {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.errorMsg {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
