main .container {
  align-items: flex-start;
  margin-bottom: 50px;
}

main .container h2 {
  margin-top: 100px;
  float: left;
}

main .modality {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
}
main .modality .card {
  width: 24%;
}

main .modality .card img {
  width: 100%;
  height: 160px;
}

main .modality .card p {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  color: #02344e;
  background-color: #c4c4c4;
  background: rgba(196, 196, 196, 0.4);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .container .button {
  margin: 0 auto;
}

main .container .event {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 50px auto;
}

main .container .event .card {
  width: 30%;
  min-height: 440px;
  border: 0.5px solid #cecece;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main .container .event .card .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .container .event .card .header .profile {
  display: flex;
  align-items: center;
}

main .container .event .card .header .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

main .container .event .card .header .profile span {
  color: #02344e;
  margin-left: 5px;
}

main .container .event .card .header button {
  font-size: 1.4rem;
  margin: 0;
}

main .container .event .card .thumbnail {
  width: 100%;
  margin: 5px auto;
}

main .container .event .card img {
  width: 100%;
  border-radius: 8px;
}

main .container .event .card .description h3 {
  font-size: 1.5rem;
}
main .container .event .card .description span {
  font-size: 1.3rem;
  font-weight: bold;
}
main .container .event .card .buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .container .event .card .buttonGroup .participate {
  width: 48%;
  background-color: #29c542;
}
main .container .event .card .buttonGroup .share {
  width: 48%;
}
