main {
  width: 100%;
  padding-top: 30px;
}
main .container {
  width: 95%;
  max-width: 990px;
  margin: 0 auto;
}
main .container h1 {
  color: #02344e;
  font-size: 1.2rem;
  text-align: center;
}
main .container .modality,
main .container .events {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container .modality .cards,
main .container .events .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

main .container .modality .cards .card,
main .container .events .cards .card {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container .modality .cards .card img {
  width: 100%;
}

main .container .modality .cards .card p {
  width: 100%;
  padding: 5px;
  color: #02344e;
  background-color: #cecece;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .container .modality a,
main .container .events a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #006699;
  padding: 5px;
  border-radius: 8px;
}

main .container .events .cards .card {
  max-width: 300px;
  padding: 5px;
  border: 1px solid #cecece;
  border-radius: 8px;
  margin-bottom: 15px;
}

main .container .events .cards .card .header {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .container .events .cards .card .header .profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container .events .cards .card .header .profile img {
  width: 30px;
  height: 30px;
}

main .container .events .cards .card .header .profile span {
  margin-left: 5px;
}

main .container .events .cards .card .header button {
  text-align: center;
  color: #ffffff;
  background-color: #006699;
  padding: 5px;
  border: none;
  border-radius: 8px;
}

main .container .events .cards .card .thumbnail {
  width: 100%;
  height: 160px;
  overflow: hidden;
}

main .container .events .cards .card .thumbnail img {
  width: 100%;
}

main .container .events .cards .card .description {
  width: 100%;
  color: #02344e;
}

main .container .events .cards .card .description h2 {
  margin-bottom: 10px;
}

main .container .events .cards .card .description span {
  margin: 5px 0;
}

main .container .events .cards .card .buttonGroup {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container .events .cards .card .buttonGroup form {
  width: 100%;
}

main .container .events .cards .card .buttonGroup .participate,
main .container .events .cards .card .buttonGroup .share {
  width: 100%;
  padding: 5px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  margin: 5px auto;
}

main .container .events .cards .card .buttonGroup .participate {
  background-color: #29c542;
}

main .container .events .cards .card .buttonGroup .share {
  background-color: #006699;
}

@media screen and (min-width: 360px) {
  main .container .modality .cards .card {
    width: 40%;
    max-width: 190px;
    margin: 30px auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  main .container .modality .cards .card img {
    max-height: 82px;
  }
}

@media screen and (min-width: 630px) {
  main .container .events .cards .card {
    margin: 10px;
  }
}
