main {
  background-image: url("../assets/img_login1.svg");
  background-position: 10% 20%;
  background-size: 25% auto;
  background-repeat: no-repeat;
}

main .container {
  background-image: url("../assets/img_login2.svg");
  background-position: 90% 100%;
  background-size: 15% auto;
  background-repeat: no-repeat;
}

main .cont {
  width: 30%;
  border: 1px solid #02344e;
  border-radius: 8px;
  margin: 25px;
  padding: 10px 30px;
  display: flex;
}

main .cont h3 {
  color: #02344e;
  font-weight: normal;
}

main .cont a {
  font-size: 2.2rem;
  margin-left: 10px;
  color: #006699;
  font-weight: normal;
}
