header {
  width: 100%;
  height: 70px;
  background-color: #006699;
}

header .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container img {
  width: 50px;
}

main {
  width: 100%;
  padding-top: 30px;
}

main .container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .container h1 {
  color: #02344e;
}

main .container form {
  width: 100%;
  margin: 30px 0;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

main .container form label {
  color: #02344e;
  margin-bottom: 2px;
}

main .container form input,
main .container form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 2px;
  border: 1px solid #cecece;
  border-radius: 2px;
}

main .container form textarea {
  resize: vertical;
}

form input[type="file"] {
  display: none;
}

form .imgInput {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form .imgInput {
  background-color: rgba(0, 0, 0, 0.05);
}

form .imgInput:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;
}

form .imgInput i {
  color: #006699;
  font-size: 4rem;
}

form .imgPreviewContainer {
  border: none;
  display: none;
  overflow: hidden;
  height: 200px;
  position: relative;
}

form .imgPreviewContainer label .imgPreview {
  width: 100%;
  float: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 8px;
}

main .container form button {
  width: 100%;
  color: #ffffff;
  background-color: #006699;
  padding: 5px 2px;
  border: none;
  border-radius: 2px;
}

main .container form a {
  text-decoration: none;
  color: #02344e;
  margin: 5px auto;
}

main .container .cont {
  width: 100%;
  color: #02344e;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container .cont a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #02344e;
  margin: 5px auto;
}
