<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../general.css" />
    <link rel="stylesheet" href="./newUserStyles.css" />
    <title>Cola lá</title>
  </head>

  <body>
    <header>
      <div class="container">
        <a href="\"><img src="../assets/logo.svg" alt="Logo ColaLá" /></a>
        <img
          src="../assets/img_header.svg"
          alt="Sports ColaLá"
          id="imgHeader"
        />
      </div>
    </header>

    <main>
      <div class="container">
        <h1>Crie sua Conta</h1>

        <form action="/new-user" method="POST">
          <label for="nickname">Nome de Usuário*</label>
          <input
            type="text"
            name="nickname"
            id="nickname"
            placeholder="Usuario"
            minlength="5"
            required
          />

          <label for="email">E-mail*</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="E-mail"
            required
          />

          <label for="bio">Bio</label>
          <textarea
            type="text"
            name="bio"
            id="bio"
            placeholder="Fale um pouco sobre você"
          ></textarea>

          <label for="profileImg">Imagem de Perfil</label>
          <input type="image" src="" alt="submit" />

          <label for="password">Senha*</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Mínimo 8 dígitos"
            minlength="8"
            required
          />

          <label for="confirmPass">Confirmar Senha*</label>
          <input
            type="password"
            name="confirmPass"
            id="confirmPass"
            placeholder="Repita a senha"
            minlength="8"
            required
          />

          <button type="submit" id="signIn">Criar Conta</button>
          <a href="/">Fazer login</a>
        </form>
      </div>
    </main>
  </body>
</html>
