body {
  background-image: url("../assets/img_newUser3.svg");
  background-position: 10% 150%;
  background-size: 20% auto;
  background-repeat: no-repeat;
}

header .container {
  align-items: center;
  justify-content: space-between;
}

main {
  background-image: url("../assets/img_newUser1.svg");
  background-position: 10% 10%;
  background-size: 20% auto;
  background-repeat: no-repeat;
}

main .container {
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/img_newUser2.svg");
  background-position: 80% 50%;
  background-size: 15% auto;
  background-repeat: no-repeat;
}

main h1 {
  margin: 50px 0;
  float: center;
  color: #02344e;
}

main form {
  width: 30%;
  border: 1px solid #02344e;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

main form input {
  font-size: 1.8rem;
  text-align: left;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

main form a {
  font-size: 1.8rem;
  margin: 15px auto 0 auto;
  color: #006699;
  font-weight: normal;
}

.imagem1 {
  width: 20%;
  position: relative;
  left: -28%;
  top: 1200px;
  transform: translateX(-60%);
}

.imagem2 {
  width: 20%;
  position: relative;
  left: -28%;
  top: -150px;
  transform: translateX(-60%);
}

.imagem3 {
  width: 20%;
  position: relative;
  left: 50%;
  top: 600px;
  transform: translateX(-60%);
}
