<main>
    <div class="container">
        <h1>Esqueceu sua senha?</h1>
        <p>Informe seu e-mail que nós enviaremos seu token para alterar sua senha.</p>
        <form action="/backend/forgot-password" method="POST">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Informe seu E-mail" required minlength="5" />
            <button type="submit" id="loginButton">Enviar E-mail</button>
            <a href="/">Voltar</a>
        </form>
    </div>
</main>