<main>
    <div class="container">
        <h2>Modalidades mais pesquisadas:</h2>
        <div class="modality">
            <div class="card">
                <img src="/assets/img_cardSoccer.svg" alt="Futebol">
                <p>Futebol</p>
            </div>
            <div class="card">
                <img src="/assets/img_cardRun.svg" alt="Corrida">
                <p>Corrida</p>
            </div>
            <div class="card">
                <img src="/assets/img_cardSkate.svg" alt="Skate">
                <p>Skate</p>
            </div>
            <div class="card">
                <img src="/assets/img_cardBasket.svg" alt="Basquete">
                <p>Basquete</p>
            </div>
        </div>
        <a href="#" class="button"><i class="fa fa-eye"></i> Ver mais</a>

        <h2>Eventos mais famosos:</h2>
        <div class="event">
            <div class="card">
                <div class="header">
                    <div class="profile">
                        <img src="/assets/zuck.png" alt="Mark Zuck">
                        <span>Mark Zuck</span>
                    </div>
                    <button class="button">Detalhes</button>
                </div>
                <img src="/assets/evento.jpg" alt="">
                <div class="description">

                    <h3>Corrida dos cachaceiros de Fortaleza</h3>
                    <span><i class="fa fa-users"></i> 3224234 pessoas confirmadas</span><br>
                    <span><i class="fa fa-map-marker"></i> Praia dos crush</span>
                </div>
                <div class="buttonGroup">
                    <button class="participate"><i class="fa fa-user-plus"></i> Participar</button>
                    <button class="share"><i class="fa fa-share-alt"></i> Compartilhar</button>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="profile">
                        <img src="/assets/zuck.png" alt="Mark Zuck">
                        <span>Mark Zuck</span>
                    </div>
                    <button class="button">Detalhes</button>
                </div>
                <img src="/assets/evento.jpg" alt="">
                <div class="description">

                    <h3>Corrida dos cachaceiros de Fortaleza</h3>
                    <span><i class="fa fa-users"></i> 3224234 pessoas confirmadas</span><br>
                    <span><i class="fa fa-map-marker"></i> Praia dos crush</span>
                </div>
                <div class="buttonGroup">
                    <button class="participate"><i class="fa fa-user-plus"></i> Participar</button>
                    <button class="share"><i class="fa fa-share-alt"></i> Compartilhar</button>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="profile">
                        <img src="/assets/zuck.png" alt="Mark Zuck">
                        <span>Mark Zuck</span>
                    </div>
                    <button class="button">Detalhes</button>
                </div>
                <img src="/assets/evento.jpg" alt="">
                <div class="description">

                    <h3>Corrida dos cachaceiros de Fortaleza</h3>
                    <span><i class="fa fa-users"></i> 3224234 pessoas confirmadas</span><br>
                    <span><i class="fa fa-map-marker"></i> Praia dos crush</span>
                </div>
                <div class="buttonGroup">
                    <button class="participate"><i class="fa fa-user-plus"></i> Participar</button>
                    <button class="share"><i class="fa fa-share-alt"></i> Compartilhar</button>
                </div>
            </div>
        </div>
        <a href="#" class="button"><i class="fa fa-eye"></i> Ver mais</a>
    </div>
</main>