<main>
    <div class="container">
        <h1>Faça seu Login</h1>

        <form action="/backend/login" method="POST" id="form">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Insira seu e-mail" required minlength="5" value="yagojuanyjskt@gmail.com"/>
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Insira sua senha" required value="123123123"
                minlength="8" />
            <button type="submit" id="loginButton">Fazer login</button>
            <a href="/forgot-password">Esqueci minha senha</a>
        </form>

        <div class="cont">
            <h3>Novo no ColaLá?</h3>
            <a href="/new-user">Crie sua Conta</a>
        </div>
    </div>
</main>