<main>
    <div class="container">
        <h1>Alterar senha</h1>

        <form action="/backend/reset-password" method="POST">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Insira seu e-mail" minlength="5" required />
            <label for="token">Token</label>
            <input type="token" name="token" id="token" placeholder="Insira o token recebido" required />
            <label for="password">Nova senha</label>
            <input type="password" name="password" id="password" placeholder="Insira sua nova senha" minlength="8"
                required />
            <button type="submit" id="resetPasswordButton">Fazer login</button>
            <a href="/forgot-password">Voltar</a>
        </form>
    </div>
</main>